<h2> Tutorial - Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Tensorflow API, Keras, to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
from tensorflow import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

/Users/joaorochaemelo/code/IH/venv_ironhack/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Now we will split our data into training and testing with a 70%-30% split (test_size=0.3).   

70% of our data will be used for training :

X_train : Our training data containing the variables the model will use to learn how to predict.

y_train : Our training data containing the labels.

#
30% of our data will be used for testing its performance metrics :

X_test : Unseen data by the model, we will use it to make predictions with our trained model.

y_test : The labels associated with X_test data, we will compare them with the predictions that our model provided as output when shown X_test and that way we will obtain performance metrics.

In [15]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

Next, we will train the model using the *fit* method. We will train the model for 100 epochs.

In [16]:
# fit the model
model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
23/23 - 0s - 11ms/step - loss: 1560.8572
Epoch 2/100
23/23 - 0s - 692us/step - loss: 1462.1530
Epoch 3/100
23/23 - 0s - 674us/step - loss: 1306.9183
Epoch 4/100
23/23 - 0s - 686us/step - loss: 1058.6105
Epoch 5/100
23/23 - 0s - 585us/step - loss: 745.6019
Epoch 6/100
23/23 - 0s - 584us/step - loss: 449.7010
Epoch 7/100
23/23 - 0s - 582us/step - loss: 276.6664
Epoch 8/100
23/23 - 0s - 608us/step - loss: 224.2132
Epoch 9/100
23/23 - 0s - 603us/step - loss: 206.2210
Epoch 10/100
23/23 - 0s - 596us/step - loss: 195.4162
Epoch 11/100
23/23 - 0s - 590us/step - loss: 187.0915
Epoch 12/100
23/23 - 0s - 582us/step - loss: 179.3652
Epoch 13/100
23/23 - 0s - 626us/step - loss: 173.2155
Epoch 14/100
23/23 - 0s - 583us/step - loss: 168.1214
Epoch 15/100
23/23 - 0s - 616us/step - loss: 164.2021
Epoch 16/100
23/23 - 0s - 593us/step - loss: 160.2028
Epoch 17/100
23/23 - 0s - 590us/step - loss: 157.1509
Epoch 18/100
23/23 - 0s - 593us/step - loss: 154.2860
Epoch 19/100
23/23 - 0s - 574us/step - loss: 151.6803
Epoch 20/100
23/23 - 0s - 575us/step - loss: 149.4540
Epoch 21/100
23/23 - 0s - 573us/step - loss: 147.2729
Epoch 22/100
23/23 - 0s - 574us/step - loss: 145.1945
Epoch 23/100
23/23 - 0s - 596us/step - loss: 143.4641
Epoch 24/100
23/23 - 0s - 575us/step - loss: 141.5125
Epoch 25/100
23/23 - 0s - 544us/step - loss: 139.4303
Epoch 26/100
23/23 - 0s - 595us/step - loss: 137.8107
Epoch 27/100
23/23 - 0s - 609us/step - loss: 136.0487
Epoch 28/100
23/23 - 0s - 595us/step - loss: 135.1522
Epoch 29/100
23/23 - 0s - 585us/step - loss: 132.8789
Epoch 30/100
23/23 - 0s - 534us/step - loss: 131.9117
Epoch 31/100
23/23 - 0s - 535us/step - loss: 129.9852
Epoch 32/100
23/23 - 0s - 545us/step - loss: 128.5668
Epoch 33/100
23/23 - 0s - 516us/step - loss: 126.6821
Epoch 34/100
23/23 - 0s - 536us/step - loss: 125.3478
Epoch 35/100
23/23 - 0s - 522us/step - loss: 124.5802
Epoch 36/100
23/23 - 0s - 537us/step - loss: 122.5821
Epoch 37/100
23/23 - 0s - 538us/step - loss: 120.8285
Epoch 38/100
23/23 - 0s - 526us/step - loss: 119.9720
Epoch 39/100
23/23 - 0s - 523us/step - loss: 117.7741
Epoch 40/100
23/23 - 0s - 518us/step - loss: 116.6120
Epoch 41/100
23/23 - 0s - 1ms/step - loss: 115.1352
Epoch 42/100
23/23 - 0s - 547us/step - loss: 113.5083
Epoch 43/100
23/23 - 0s - 537us/step - loss: 111.8318
Epoch 44/100
23/23 - 0s - 534us/step - loss: 109.4272
Epoch 45/100
23/23 - 0s - 530us/step - loss: 107.5272
Epoch 46/100
23/23 - 0s - 523us/step - loss: 105.5679
Epoch 47/100
23/23 - 0s - 513us/step - loss: 103.7236
Epoch 48/100
23/23 - 0s - 529us/step - loss: 101.8284
Epoch 49/100
23/23 - 0s - 538us/step - loss: 99.9159
Epoch 50/100
23/23 - 0s - 510us/step - loss: 98.1689
Epoch 51/100
23/23 - 0s - 512us/step - loss: 96.1342
Epoch 52/100
23/23 - 0s - 512us/step - loss: 94.3309
Epoch 53/100
23/23 - 0s - 537us/step - loss: 92.4130
Epoch 54/100
23/23 - 0s - 514us/step - loss: 90.3497
Epoch 55/100
23/23 - 0s - 508us/step - loss: 87.7555
Epoch 56/100
23/23 - 0s - 498us/step - loss: 86.0296
Epoch 57/100
23/23 - 0s - 539us/step - loss: 83.9125
Epoch 58/100
23/23 - 0s - 531us/step - loss: 81.2216
Epoch 59/100
23/23 - 0s - 508us/step - loss: 79.1015
Epoch 60/100
23/23 - 0s - 526us/step - loss: 77.6873
Epoch 61/100
23/23 - 0s - 543us/step - loss: 75.5891
Epoch 62/100
23/23 - 0s - 573us/step - loss: 73.0340
Epoch 63/100
23/23 - 0s - 570us/step - loss: 70.9393
Epoch 64/100
23/23 - 0s - 553us/step - loss: 69.9398
Epoch 65/100
23/23 - 0s - 567us/step - loss: 67.2452
Epoch 66/100
23/23 - 0s - 556us/step - loss: 65.6431
Epoch 67/100
23/23 - 0s - 564us/step - loss: 63.0608
Epoch 68/100
23/23 - 0s - 545us/step - loss: 61.8342
Epoch 69/100
23/23 - 0s - 582us/step - loss: 59.0169
Epoch 70/100
23/23 - 0s - 555us/step - loss: 56.9091
Epoch 71/100
23/23 - 0s - 584us/step - loss: 55.4262
Epoch 72/100
23/23 - 0s - 568us/step - loss: 54.1645
Epoch 73/100
23/23 - 0s - 532us/step - loss: 52.2928
Epoch 74/100
23/23 - 0s - 581us/step - loss: 51.9204
Epoch 75/100
23/23 - 0s - 600us/step - loss: 50.5470
Epoch 76/100
23/23 - 0s - 597us/step - loss: 49.4026
Epoch 77/100
23/23 - 0s - 625us/step - loss: 48.0911
Epoch 78/100
23/23 - 0s - 996us/step - loss: 47.1969
Epoch 79/100
23/23 - 0s - 1ms/step - loss: 46.4536
Epoch 80/100
23/23 - 0s - 586us/step - loss: 46.0173
Epoch 81/100
23/23 - 0s - 561us/step - loss: 44.4938
Epoch 82/100
23/23 - 0s - 620us/step - loss: 43.4447
Epoch 83/100
23/23 - 0s - 594us/step - loss: 43.1073
Epoch 84/100
23/23 - 0s - 577us/step - loss: 42.0561
Epoch 85/100
23/23 - 0s - 557us/step - loss: 42.2311
Epoch 86/100
23/23 - 0s - 561us/step - loss: 40.9670
Epoch 87/100
23/23 - 0s - 569us/step - loss: 40.2131
Epoch 88/100
23/23 - 0s - 568us/step - loss: 39.3039
Epoch 89/100
23/23 - 0s - 566us/step - loss: 38.9823
Epoch 90/100
23/23 - 0s - 551us/step - loss: 38.5132
Epoch 91/100
23/23 - 0s - 565us/step - loss: 37.8264
Epoch 92/100
23/23 - 0s - 539us/step - loss: 38.0930
Epoch 93/100
23/23 - 0s - 532us/step - loss: 36.9012
Epoch 94/100
23/23 - 0s - 520us/step - loss: 37.0354
Epoch 95/100
23/23 - 0s - 528us/step - loss: 36.4770
Epoch 96/100
23/23 - 0s - 543us/step - loss: 36.2658
Epoch 97/100
23/23 - 0s - 541us/step - loss: 35.8320
Epoch 98/100
23/23 - 0s - 537us/step - loss: 35.1457
Epoch 99/100
23/23 - 0s - 515us/step - loss: 34.8041
Epoch 100/100
23/23 - 0s - 536us/step - loss: 34.8732

### Now lets evaluate our model and get performance metrics !

First, since our model only saw the training data and learned from it, we will make predictions on the unseen test set.

y_pred are the predictions that our model generated from it's experience when shown the predictor variables of X_test.

That way we can compare y_pred (predictions made by our model) with y_test (the real labels of X_test) and see the difference as performance metrics.

In [17]:
# Make predictions on the test set
y_pred = model.predict(X_test)

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

Since this is a regression model we will be using mean squared error, mean absolute error and the r squared score to evaluate it.

In [18]:
# Calculate and print regression metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse:.4f}')
print(f'Mean Absolute Error (MAE): {mae:.4f}')
print(f'R² Score: {r2:.4f}')

Mean Squared Error (MSE): 40.9883
Mean Absolute Error (MAE): 4.9030
R² Score: 0.8485

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

For other models, other types of performance metrics are more meaningfull. It all depends on context and the end goal of the model. 

Research, planning and analysing various metrics with a clearly defined end goal is key to understanding how capable a model is and what are his limitations.

Keep that in mind when tackling the next exercises!

### Thank you for following this tutorial!